<br>
<p-button (click)="showDialog()" icon="pi pi-pencil" label="Nuevo empleado"></p-button>
<br>
<br>
<p-confirmPopup></p-confirmPopup>
<p-table [value]="empleados" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th>Primer Nombre</th>
            <th>Otros Nombres</th>
            <th>Primer Apellido</th>
            <th>Pais de Empleo</th>
            <th>Correo Electrónico</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empleado>
        <tr>
            <td>{{empleado.primerNombre}}</td>
            <td>{{empleado.otrosNombres}}</td>
            <td>{{empleado.primerApellido}}</td>
            <td>{{empleado.paisEmpleo}}</td>
            <td>{{empleado.correoElectronico}}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-raised p-button-danger" (click)="confirm($event, empleado)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Nuevo empleado" [(visible)]="display" [style]="{width: '50vw'}">
    <form>
        <h5>Primer Nombre*</h5>
        <input type="text" class="form-control" pInputText [(ngModel)]="formulario.primerNombre" (keyup)="mayuscula($event)" name="primerNombre" [ngModelOptions]="{standalone: true}" pattern="[a-zA-Z ]*">

        <h5>Otros Nombres</h5>
        <input type="text" pInputText [(ngModel)]="formulario.otrosNombres" (keyup)="mayuscula($event)" name="otrosNombres" [ngModelOptions]="{standalone: true}">

        <h5>Primer Apellido*</h5>
        <input type="text" pInputText [(ngModel)]="formulario.primerApellido" (keyup)="mayuscula($event)" name="primerApellido" [ngModelOptions]="{standalone: true}">

        <h5>País del empleo*</h5>
        <p-dropdown [options]="paises" [(ngModel)]="formulario.paisEmpleo" name="paisEmpleo" placeholder="Seleccione un Pais" optionLabel="name" [showClear]="true"></p-dropdown>

        <br>
        <br>
        <p-button (click)="guardarEmpleado()" icon="pi pi-save" label="Guardar"></p-button>
    </form>
</p-dialog>

<p-toast></p-toast>